/dts-v1/;

/include/ "tegra124.dtsi"

/ {
	model = "NVIDIA Tegra124 Venice2";
	compatible = "nvidia,venice2", "nvidia,tegra124";

	memory {
		reg = <0x80000000 0x80000000>;
	};

	pinmux {
		pinctrl-names = "default";
		pinctrl-0 = <&state_default>;

		state_default: pinmux {
			dap_mclk1_pw4 {
				nvidia,pins = "dap_mclk1_pw4";
				nvidia,function = "extperiph1";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			dap1_din_pn1 {
				nvidia,pins = "dap1_din_pn1",
						"dap1_dout_pn2",
						"dap1_fs_pn0",
						"dap1_sclk_pn3";
				nvidia,function = "i2s0";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			dap2_din_pa4 {
				nvidia,pins = "dap2_din_pa4";
				nvidia,function = "i2s1";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			dap2_dout_pa5 {
				nvidia,pins = "dap2_dout_pa5",
						"dap2_fs_pa2",
						"dap2_sclk_pa3";
				nvidia,function = "i2s1";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			dap3_dout_pp2 {
				nvidia,pins = "dap3_dout_pp2";
				nvidia,function = "i2s2";
				nvidia,pull = <1>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			dap4_din_pp5 {
				nvidia,pins = "dap4_din_pp5",
						"dap4_dout_pp6",
						"dap4_fs_pp4",
						"dap4_sclk_pp7";
				nvidia,function = "i2s3";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			dvfs_pwm_px0 {
				nvidia,pins = "dvfs_pwm_px0",
						"dvfs_clk_px2";
				nvidia,function = "cldvfs";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			ulpi_clk_py0 {
				nvidia,pins = "ulpi_clk_py0",
						"ulpi_nxt_py2",
						"ulpi_stp_py3";
				nvidia,function = "spi1";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			ulpi_dir_py1 {
				nvidia,pins = "ulpi_dir_py1";
				nvidia,function = "spi1";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			cam_i2c_scl_pbb1 {
				nvidia,pins = "cam_i2c_scl_pbb1",
						"cam_i2c_sda_pbb2";
				nvidia,function = "i2c3";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
				nvidia,lock = <0>;
				nvidia,open-drain = <1>;
			};
			gen2_i2c_scl_pt5 {
				nvidia,pins = "gen2_i2c_scl_pt5",
						"gen2_i2c_sda_pt6";
				nvidia,function = "i2c2";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
				nvidia,lock = <0>;
				nvidia,open-drain = <1>;
			};
			pj7 {
				nvidia,pins = "pj7";
				nvidia,function = "uartd";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			pb0 {
				nvidia,pins = "pb0",
						"pb1";
				nvidia,function = "uartd";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			pk7 {
				nvidia,pins = "pk7";
				nvidia,function = "uartd";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			pg4 {
				nvidia,pins = "pg4",
						"pg5",
						"pg6",
						"pi3";
				nvidia,function = "spi4";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			pg7 {
				nvidia,pins = "pg7";
				nvidia,function = "spi4";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			ph1 {
				nvidia,pins = "ph1";
				nvidia,function = "pwm1";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			pk0 {
				nvidia,pins = "pk0",
						"kb_row15_ps7",
						"clk_32k_out_pa0";
				nvidia,function = "soc";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			sdmmc1_clk_pz0 {
				nvidia,pins = "sdmmc1_clk_pz0";
				nvidia,function = "sdmmc1";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			sdmmc1_cmd_pz1 {
				nvidia,pins = "sdmmc1_cmd_pz1",
						"sdmmc1_dat0_py7",
						"sdmmc1_dat1_py6",
						"sdmmc1_dat2_py5",
						"sdmmc1_dat3_py4";
				nvidia,function = "sdmmc1";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			sdmmc3_clk_pa6 {
				nvidia,pins = "sdmmc3_clk_pa6";
				nvidia,function = "sdmmc3";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			sdmmc3_cmd_pa7 {
				nvidia,pins = "sdmmc3_cmd_pa7",
						"sdmmc3_dat0_pb7",
						"sdmmc3_dat1_pb6",
						"sdmmc3_dat2_pb5",
						"sdmmc3_dat3_pb4",
						"kb_col4_pq4",
						"sdmmc3_clk_lb_out_pee4",
						"sdmmc3_clk_lb_in_pee5";
				nvidia,function = "sdmmc3";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			sdmmc4_clk_pcc4 {
				nvidia,pins = "sdmmc4_clk_pcc4";
				nvidia,function = "sdmmc4";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			sdmmc4_cmd_pt7 {
				nvidia,pins = "sdmmc4_cmd_pt7",
						"sdmmc4_dat0_paa0",
						"sdmmc4_dat1_paa1",
						"sdmmc4_dat2_paa2",
						"sdmmc4_dat3_paa3",
						"sdmmc4_dat4_paa4",
						"sdmmc4_dat5_paa5",
						"sdmmc4_dat6_paa6",
						"sdmmc4_dat7_paa7";
				nvidia,function = "sdmmc4";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			kb_row10_ps2 {
				nvidia,pins = "kb_row10_ps2";
				nvidia,function = "uarta";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			kb_row9_ps1 {
				nvidia,pins = "kb_row9_ps1";
				nvidia,function = "uarta";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			kb_row6_pr6 {
				nvidia,pins = "kb_row6_pr6";
				nvidia,function = "displaya_alt";
				nvidia,pull = <1>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			pwr_i2c_scl_pz6 {
				nvidia,pins = "pwr_i2c_scl_pz6",
						"pwr_i2c_sda_pz7";
				nvidia,function = "i2cpwr";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
				nvidia,lock = <0>;
				nvidia,open-drain = <1>;
			};
			jtag_rtck {
				nvidia,pins = "jtag_rtck";
				nvidia,function = "rtck";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;

			};
			clk_32k_in {
				nvidia,pins = "clk_32k_in";
				nvidia,function = "clk";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			core_pwr_req {
				nvidia,pins = "core_pwr_req";
				nvidia,function = "pwron";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			cpu_pwr_req {
				nvidia,pins = "cpu_pwr_req";
				nvidia,function = "cpu";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			kb_col0_ap {
				nvidia,pins = "kb_col0_pq0";
				nvidia,function = "rsvd4";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			kbl_pwm {
				nvidia,pins = "ph0";
				nvidia,function = "pwm0";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			lid_open {
				nvidia,pins = "kb_row4_pr4";
				nvidia,function = "rsvd3";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			pwr_int_n {
				nvidia,pins = "pwr_int_n";
				nvidia,function = "pmi";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			reset_out_n {
				nvidia,pins = "reset_out_n";
				nvidia,function = "reset_out_n";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			clk3_out_pee0 {
				nvidia,pins = "clk3_out_pee0";
				nvidia,function = "extperiph3";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			gen1_i2c_scl_pc4 {
				nvidia,pins = "gen1_i2c_scl_pc4",
						"gen1_i2c_sda_pc5";
				nvidia,function = "i2c1";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
				nvidia,lock = <0>;
				nvidia,open-drain = <1>;
			};
			uart2_cts_n_pj5 {
				nvidia,pins = "uart2_cts_n_pj5";
				nvidia,function = "uartb";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			uart2_rts_n_pj6 {
				nvidia,pins = "uart2_rts_n_pj6";
				nvidia,function = "uartb";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			uart2_rxd_pc3 {
				nvidia,pins = "uart2_rxd_pc3";
				nvidia,function = "irda";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			uart2_txd_pc2 {
				nvidia,pins = "uart2_txd_pc2";
				nvidia,function = "irda";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			uart3_cts_n_pa1 {
				nvidia,pins = "uart3_cts_n_pa1",
						"uart3_rxd_pw7";
				nvidia,function = "uartc";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			uart3_rts_n_pc0 {
				nvidia,pins = "uart3_rts_n_pc0",
						"uart3_txd_pw6";
				nvidia,function = "uartc";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			hdmi_cec_pee3 {
				nvidia,pins = "hdmi_cec_pee3";
				nvidia,function = "cec";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
				nvidia,lock = <0>;
				nvidia,open-drain = <0>;
			};
			hdmi_int_pn7 {
				nvidia,pins = "hdmi_int_pn7";
				nvidia,function = "rsvd1";
				nvidia,pull = <1>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			ddc_scl_pv4 {
				nvidia,pins = "ddc_scl_pv4",
						"ddc_sda_pv5";
				nvidia,function = "i2c4";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
				nvidia,lock = <0>;
				nvidia,rcv-sel = <1>;
			};
			usb_vbus_en0_pn4 {
				nvidia,pins = "usb_vbus_en0_pn4",
						"usb_vbus_en1_pn5",
						"usb_vbus_en2_pff1";
				nvidia,function = "usb";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
				nvidia,lock = <0>;
				nvidia,open-drain = <1>;
			};
			drive_sdio1 {
				nvidia,pins = "drive_sdio1";
				nvidia,high-speed-mode = <1>;
				nvidia,schmitt = <0>;
				nvidia,low-power-mode = <3>;
				nvidia,pull-down-strength = <36>;
				nvidia,pull-up-strength = <20>;
				nvidia,slew-rate-rising = <2>;
				nvidia,slew-rate-falling = <2>;
			};
			drive_sdio3 {
				nvidia,pins = "drive_sdio3";
				nvidia,high-speed-mode = <1>;
				nvidia,schmitt = <0>;
				nvidia,low-power-mode = <3>;
				nvidia,pull-down-strength = <22>;
				nvidia,pull-up-strength = <36>;
				nvidia,slew-rate-rising = <0>;
				nvidia,slew-rate-falling = <0>;
			};
			drive_gma {
				nvidia,pins = "drive_gma";
				nvidia,high-speed-mode = <1>;
				nvidia,schmitt = <0>;
				nvidia,low-power-mode = <3>;
				nvidia,pull-down-strength = <2>;
				nvidia,pull-up-strength = <1>;
				nvidia,slew-rate-rising = <0>;
				nvidia,slew-rate-falling = <0>;
				nvidia,drive-type = <1>;
			};
			als_irq_l {
				nvidia,pins = "gpio_x3_aud_px3";
				nvidia,function = "gmi";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			codec_irq_l {
				nvidia,pins = "ph4";
				nvidia,function = "gmi";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			lcd_bl_en {
				nvidia,pins = "ph2";
				nvidia,function = "gmi";
				nvidia,pull = <1>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			touch_irq_l {
				nvidia,pins = "gpio_w3_aud_pw3";
				nvidia,function = "spi6";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			tpm_davint_l {
				nvidia,pins = "ph6";
				nvidia,function = "gmi";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			ts_irq_l {
				nvidia,pins = "pk2";
				nvidia,function = "gmi";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			ts_reset_l {
				nvidia,pins = "pk4";
				nvidia,function = "gmi";
				nvidia,pull = <1>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			ts_shdn_l {
				nvidia,pins = "pk1";
				nvidia,function = "gmi";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			ph7 {
				nvidia,pins = "ph7";
				nvidia,function = "gmi";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
		};
	};

	serial@70006000 {
		status = "okay";
	};

	pwm {
		status = "okay";
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;

		audio-codec {
			compatible = "maxim,max98090";
			reg = <0x10>;
			interrupt-parent = <&gpio>;
			interrupts = <60 0>; /* GPIO PH4 */
		};
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <100000>;

		light-sensor {
			compatible = "isil,isl29018";
			reg = <0x44>;
			interrupt-parent = <&gpio>;
			interrupts = <187 0>; /* GPIO X3 */
		};
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <100000>;

		trusted-platform-module {
			compatible = "infineon,slb9645tt";
			reg = <0x20>;
		};
	};

	i2c@7000c700 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;
	};

	spi@7000d400 {
		status = "okay";
		ec: cros-ec@0 {
			compatible = "google,cros-ec-spi";
			spi-max-frequency = <4000000>;
			interrupt-parent = <&gpio>;
			interrupts = <23 0x08>; /* GPIO PC7 */
			reg = <0>;

			google,cros-ec-spi-msg-delay = <2000>;
		};
	};

	pmc {
		nvidia,invert-interrupt;
	};

	sdhci@700b0000 {
		power-gpios = <&gpio 191 0>;
		reset-gpios = <&gpio 229 0>;
		bus-width = <4>;
		no-1-8-v;
		non-removable;
		status = "okay";
	};

	sdhci@700b0400 {
		cd-gpios = <&gpio 170 0>; /* gpio PV2 */
		no-1-8-v;
		bus-width = <4>;
		status = "okay";
	};

	sdhci@700b0600 {
		bus-width = <8>;
		no-1-8-v;
		non-removable;
		status = "okay";
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 1 1000000>;
		default-brightness-level = <224>;
		brightness-levels =
			<  0   0   1   2   3   4   5   6
			   7   8   9   9  10  11  12  13
			  13  14  15  16  17  17  18  19
			  20  21  22  22  23  24  25  26
			  27  27  28  29  30  31  32  32
			  33  34  35  36  37  37  38  39
			  40  41  42  42  43  44  45  46
			  47  48  48  49  50  51  52  53
			  54  55  56  57  57  58  59  60
			  61  62  63  64  65  66  67  68
			  69  70  71  71  72  73  74  75
			  76  77  77  78  79  80  81  82
			  83  84  85  87  88  89  90  91
			  92  93  94  95  96  97  98  99
			 100 101 102 103 104 105 106 107
			 108 109 110 111 112 113 115 116
			 117 118 119 120 121 122 123 124
			 125 126 127 128 129 130 131 132
			 133 134 135 136 137 138 139 141
			 142 143 144 146 147 148 149 151
			 152 153 154 155 156 157 158 158
			 159 160 161 162 163 165 166 167
			 168 169 170 171 172 173 174 176
			 177 178 179 180 182 183 184 185
			 186 187 188 189 190 191 192 194
			 195 196 197 198 199 200 201 202
			 203 204 205 206 207 208 209 210
			 211 212 213 214 215 216 217 219
			 220 221 222 224 225 226 227 229
			 230 231 232 233 234 235 236 238
			 239 240 241 242 243 244 245 246
			 247 248 249 250 251 252 253 255>;
	};

	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk32k_in: clock {
			compatible = "fixed-clock";
			reg = <0>;
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		lid {
			label = "Lid";
			gpios = <&gpio 140 1>; /*GPIO R4 */
			linux,input-type = <5>;
			linux,code = <0>;
			debounce-interval = <1>;
		};

		power {
			label = "Power";
			gpios = <&gpio 128 1>; /* GPIO Q0 */
			linux,code = <116>;
			debounce-interval = <10>;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		floating: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "floating";
		};
	};
};
