/dts-v1/;

#include "tegra124.dtsi"
#include "tegra124-nyan.dtsi"

/ {
	model = "Google Nyan Rev 0";

	compatible = "google,nyan-rev0", "google,nyan", "nvidia,venice2",
			"nvidia,tegra124";

	pinmux {
		pinmux@0 {
			dap1_din_pn1 {
				nvidia,pins = "dap1_din_pn1",
						"dap1_dout_pn2",
						"dap1_fs_pn0",
						"dap1_sclk_pn3";
				nvidia,function = "i2s0";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			dap4_din_pp5 {
				nvidia,pins = "dap4_din_pp5",
						"dap4_dout_pp6",
						"dap4_fs_pp4",
						"dap4_sclk_pp7";
				nvidia,function = "i2s3";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			uart2_cts_n_pj5 {
				nvidia,pins = "uart2_cts_n_pj5";
				nvidia,function = "uartb";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			uart2_rts_n_pj6 {
				nvidia,pins = "uart2_rts_n_pj6";
				nvidia,function = "uartb";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			uart2_rxd_pc3 {
				nvidia,pins = "uart2_rxd_pc3";
				nvidia,function = "irda";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			uart2_txd_pc2 {
				nvidia,pins = "uart2_txd_pc2";
				nvidia,function = "irda";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			uart3_cts_n_pa1 {
				nvidia,pins = "uart3_cts_n_pa1",
						"uart3_rxd_pw7";
				nvidia,function = "uartc";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			uart3_rts_n_pc0 {
				nvidia,pins = "uart3_rts_n_pc0",
						"uart3_txd_pw6";
				nvidia,function = "uartc";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			pb0 {
				nvidia,pins = "pb0",
						"pb1";
				nvidia,function = "uartd";
				nvidia,pull = <2>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			kbl_pwm {
				nvidia,pins = "ph0";
				nvidia,function = "pwm0";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			kb_row6_pr6 {
				nvidia,pins = "kb_row6_pr6";
				nvidia,function = "displaya_alt";
				nvidia,pull = <1>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
			als_irq_l {
				nvidia,pins = "gpio_x3_aud_px3";
				nvidia,function = "gmi";
				nvidia,pull = <0>;
				nvidia,tristate = <1>;
				nvidia,enable-input = <1>;
			};
			wifi_rst_l {
				nvidia,pins = "clk2_req_pcc5";
				nvidia,function = "dap";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <0>;
			};
			hp_det_l {
				nvidia,pins = "ulpi_data1_po2";
				nvidia,function = "spi3";
				nvidia,pull = <0>;
				nvidia,tristate = <0>;
				nvidia,enable-input = <1>;
			};
		};
	};

	i2c@7000c400 {
		light-sensor {
			compatible = "isil,isl29018";
			reg = <0x44>;
			interrupt-parent = <&gpio>;
			interrupts = <187 0>; /* GPIO X3 */
		};

		trackpad {
			compatible = "atmel,atmel_mxt_tp";
			reg = <0x4b>;
			interrupt-parent = <&gpio>;
			interrupts = <179 0>; /* GPIO PW3 */
			wakeup-source;
		};

		trackpad-bootloader {
			compatible = "atmel,atmel_mxt_tp";
			reg = <0x25>;
			interrupt-parent = <&gpio>;
			interrupts = <179 0>; /* GPIO PW3 */
			wakeup-source;
		};
	};

	i2c@7000d000 {
		pmic@40 {
			pinctrl@0 {
				gpio6 {
					pins = "gpio6";
					function = "gpio";
					bias-high-impedance;
				};
			};
		};
	};

	sdhci@700b0000 {
		reset-gpios = <&gpio 229 0>; /* GPIO PCC5 */
	};

	sound {
		nvidia,hp-det-gpios = <&gpio 114 0>; /* GPIO PO2 */
		nvidia,mic-det-gpios = <&gpio 143 0>; /* GPIO PR7 */
	};
};
